body {
    background-color: teal;
    margin: 0;
}
header {
    background-color: white;
    border: none;
}
h3{
    text-align: left;
}
.text{
    text-align: center;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border: 2px solid black;
    width: 10%;
    height: 60%;   
}
button{
    background-color: seagreen;
    border-radius: 4px;
    border: none;
}
.links{
    text-align: right;
}